In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns
from scipy import stats
from scipy.stats import norm, skew #for some statistics

In [2]:
path=('H:/pythonchengx_u/ShuiDao/Data/')
test = pd.read_csv(path+'testA.csv')
train = pd.read_csv(path+'train_rice.csv',encoding='gbk')
weather = pd.read_csv(path+'train_weather.csv',encoding='gbk')

H:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5,10,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head()

      区县id    2015年早稻    2016年早稻    2017年早稻    2015年晚稻    2016年晚稻    2017年晚稻
0  county1  15.812589  15.878158  15.835681  15.754182  15.740001  15.636155
1  county2  16.658008  16.623931  16.555916  16.666867  16.686079  16.583385
2  county3  15.206326  15.085393  15.049788  15.177311  14.995996  14.889857
3  county4  15.352061  15.311764  15.236604  15.020413  15.005488  14.882306
4  county5  15.942749  15.943796  15.876010  16.019721  15.989249  15.905980

In [4]:
train['new'] = 0.1*train['2015年早稻']+0.2*train['2016年早稻']+0.7*train['2017年早稻']

In [5]:
train[['区县id','new']].to_csv(path+'sub1_add_gradient2.csv',header=None,index=None)

In [6]:
early = train[['区县id','2015年早稻','2016年早稻','2017年早稻']]

In [7]:
# weather_15_early.shape[1]

In [8]:
weather.head()

,区县id,站名id,年份,月份,日期,日照时数（单位：h),02时风向,08时风向,14时风向,20时风向,日平均风速(单位：m/s),日降水量（mm）,日最高温度（单位：℃）,日最低温度（单位：℃）,日平均温度（单位：℃）,日相对湿度（单位：%）,日平均气压（单位：hPa）
0,county25,1,2015,1,1,6.3,NNW,N,NNE,S,1.8,0,14.1,7.2,9.1,43,980.6
1,county25,1,2015,1,2,8.1,SSE,S,SSW,S,1.3,0,18.3,1.6,7.5,64,977.7
2,county25,1,2015,1,3,4.3,S,SSE,S,SSE,2,0,18.9,2.4,9.4,66,973.1
3,county25,1,2015,1,4,0,WNW,SSW,S,SSE,2.2,0.3,14.9,9.0,11.5,76,966.7
4,county25,1,2015,1,5,0,SSE,S,SSW,C,2.8,0.8,16.8,11.6,15.5,91,963.9

In [9]:
weather_15 = weather[weather['年份']==2015]
weather_16 = weather[weather['年份']==2016]
weather_17 = weather[weather['年份']==2017]
weather_18 = weather[weather['年份']==2018]

In [10]:
weather_15_early = weather_15[weather_15['月份'].isin([4,5,6,7])]

In [11]:
# weather.groupby([])

In [12]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),('bird', 'Psittaciformes', 24.0),('mammal', 'Carnivora', 80.2),('mammal', 'Primates', np.nan), ('mammal', 'Carnivora', 58)],index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],columns=('class', 'order', 'max_speed'))

In [13]:
grouped = df.groupby('class')

In [14]:
grouped = df.groupby('order', axis='columns')

In [15]:
test.head()

   county1
0  county2
1  county3
2  county4
3  county5
4  county6